@{
    ViewData["Title"] = "Serus Majulo";
}

<div class="text-center">
    <h1 class="display-4">Majko Vajko</h1>
    <p>Az chces prejst na zazracnu aplikaciu <a href="https://as2.ftcdn.net/v2/jpg/00/52/08/91/1000_F_52089114_taFlVu5AY2NLsTPlb2eOXAp7zl1xd9sN.jpg">klikni sem</a>.</p>
</div>